body {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%236200ff' fill-opacity='0.43'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
}

img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

span.dot {
	text-shadow: 0 0 20px var(--dot-color);
}

body.frame {
	border: 12px solid var(--highlight-color);
}

.header-logo {
	font-family: var(--font-family-heading);
	font-size: 30px;
	border-radius: 100px;
	padding: 2px 20px;
	text-transform: none !important;

	background-color: var(--highlight-color);
	color: var(--dot-color) !important;
	box-shadow: 0 0 100px var(--highlight-color);
}


.header-logo-image, .footer-logo-image {
	border-radius: 10px;
	padding: 15px 15px;
	text-transform: none !important;

	background-color: var(--dot-color);
}

.header-logo-image-wrapper {
	display: block;
	flex-grow: 1;
}

.header-logo-image {
	max-width: 200px;
}

.footer-logo-image {
	max-width: 50px;
}

.hamburger {
	color: var(--dot-color) !important;
	background: transparent !important;
	border-radius: 0;
}

.intro, h1 {
	margin: 0 !important;
}

p:has(img) {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

p img {
	margin: 0 !important;
	max-width: 300px !important;
	border-radius: 10px;
	border: 5px solid var(--dot-color);
	/*box-shadow: 15px 15px 0 var(--highlight-color);*/

	transition: all .5s;
}

/*
p img:hover {
	transform: rotateZ(2deg);
	box-shadow: 25px 25px 0 var(--highlight-color);
}
*/

.columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex-direction: row;

	gap: 20px;
}

.columns > * {
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
}

.section {
	margin: 50px 0;
}

.banner {
	padding: 20px 10px;
	margin: 10px 0;
	border-radius: 20px;

	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;

	background-position: center;
	background-size: cover;
	background-blend-mode: soft-light;
}

.banner-content .title {
	font-size: 40px;
	margin: 0 !important;
}

.banner .cta, button, input[type="submit"] {
	background-color: var(--base-color);
	color: var(--text-color) !important;

	padding: 4px 20px;
	border-radius: 100px;
	font-size: 20px;
	font-weight: bold;
	font-family: var(--font-family-heading);
	border: none;
	cursor: pointer;
}

/*
.banner img {
	border-radius: 10px;
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 0;
	margin: 0 10px;

	max-width: 30%;
}
*/

.banner .banner-content {
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 0;

	padding: 0 10px;

	display: flex;
	flex-direction: column;
	gap: 10px;
}

.banner-content {
	font-size: 20px;
}

.banner-content ol, .banner-content ul {
	margin-left: 20px;
}

.banner-content ol li, .banner-content ul li {
	list-style-type: disc;
}

.banner-accent-1 {
	background-color: var(--dot-color);
	box-shadow: 0 10px 50px -20px var(--dot-color);
}

.banner-accent-1 * {
	color: var(--base-color);
}

.banner-accent-2 .cta {
	background-color: var(--heading-color);
	color: var(--base-color) !important;
}

.banner-accent-2 {
	background-color: var(--highlight-color);
	box-shadow: 0 10px 50px -5px var(--highlight-color);
}

.banner-accent-2 * {
	color: var(--text-color) !important;
}

.banner-accent-3 {
	background-color: var(--base-offset-color);
	border: 1px solid var(--highlight-color);
	box-shadow: 0 10px 30px -10px var(--highlight-color);
}

.banner-accent-3 * {
	color: var(--text-color) !important;
}

.banner-accent-3 .cta {
	background-color: var(--dot-color);
	color: var(--base-color) !important;
}

.footer {
	margin-top: 200px;
}

.footer .footer-legal p {
	font-size: 14px !important;
	margin: 0 !important;
	opacity: .5;
}

.footer-social, .footer-legal, .footer-logo {
	margin: 0 !important;
}

.social-icon a {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 5px;
	flex-direction: row;
	font-size: 14px;
	flex-wrap: nowrap;
}

/* FORMS */

form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 15px;

	max-width: 700px;

	border: 3px solid var(--dot-color);
	border-radius: 10px;
	padding: 10px 20px;
	background-color: var(--base-color);
	box-shadow: 0 50px 100px -50px var(--highlight-color);
}

form > div {
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	flex-shrink: 1;
	flex-grow: 0;
}

form label {
	display: block;
	font-family: var(--font-family-heading);
	font-weight: bold;
	font-size: xx-large;
	text-align: center;
}

input, select, textarea {
	display: block;
	font-size: x-large;
	background: var(--base-color) !important;
	border: 2px solid var(--text-color);
	color: var(--text-color);
	padding: 4px 10px;
	border-radius: 10px;
	font-family: var(--font-family-monospace);
	flex-grow: 1;
}

textarea {
	min-height: 100px;
	resize: vertical;
}

select::after {
	border: 1px solid red;
}

button {
	background-color: var(--dot-color);
	color: var(--base-color) !important;
	transition: all .2s;
}

button:hover {
	background-color: var(--highlight-color);
	color: var(--heading-color) !important;
}